.presentation-image {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.presentation-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color:rgb(197, 197, 197);
    top:75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.explication-text {
    font-size: 1.3rem;
    text-align: center;
    color:rgb(197, 197, 197);
}

.container {
    position: relative;
}

.dark-gradient {
    display: inline-block;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    height: 30rem;
    width: 100%;
}