<form class="searchBar">
    <div class="field">
        <label for="kingdom-select">Domaine: </label>
        <select name="kingdom" id="kingdom-select">

        </select>
    </div>
    
    <div class="field">
        <label for="phylum-select">Règne: </label>
        <select name="phylum" id="phylum-select">
            
        </select>
    </div>

    <div class="field">
        <label for="class-select">Classe: </label>
        <select name="class" id="class-select">
            
        </select>
    </div>

    <div class="field">
        <label for="order-select">Ordre: </label>
        <select name="order" id="order-select">
            
        </select>
    </div>

    <div class="field">
        <label for="family-select">Famille: </label>
        <select name="family" id="family-select">
            
        </select>
    </div>

    <div class="field">
        <label for="tribe-select">Tribu: </label>
        <select name="tribe" id="tribe-select">
            
        </select>
    </div>

    <div class="field">
        <label for="genus-select">Genre: </label>
        <select name="genus" id="genus-select">
            
        </select>
    </div>

    <div class="field">
        <label for="species-select">Espèce: </label>
        <select name="species" id="species-select">
            
        </select>
    </div>

    <div class="field">
        <label for="vernacular-input">Nom commun: </label>
        <input name="vernacular-name" id="vernacular-input">
    </div>

    <div class="field">
        <input type="submit" value="Rechercher">
    </div>
    
</form>
