@import '../../styles/variables';
@import '../../styles/anim';

.nav-menu {
    background: rgb(69,91,73);
    background: linear-gradient(90deg, rgba(69,91,73,1) 28%, rgba(25,87,11,1) 100%);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-title {
    margin: 0;
    margin-right: 5vw;
    margin-left: 5vw;
    padding: 0.5rem;
}

.side-menu {
    display: none;
} 

@media (min-width: 1000px) {

    .nav-menu {
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .nav-button {
        margin-left: 2vw;
        margin-right: 2vw;
        padding: 1rem;
        text-decoration: none;
        color: #000000;
        text-align: center;

        &:hover {
            background-color: $black-transparent;
            border-radius: 1rem;
            transition: all 0.1s ease-in;
        }
    }
}

@media (max-width: 1000px) {

    .header-menu {
        width: 100%;
    }

    .nav-button {
        width: 100%;
        margin-left: 10vw;
        padding: 2rem;
        text-decoration: none;
        color: #000000;
    }

    .nav-menu {
        flex-direction: column;
    }

    .nav {
        flex-direction: column;
        max-height: 0;
        max-width: 0;
        overflow: hidden;

        *:has(*.side-menu:checked) > & {
            max-height: 100%;
            max-width: 100%;
            height: 100%;
            width: 100%;
            border-top: solid 1px #000000;
            padding-top: 1rem;
        }
    }

    .label-menu{
        cursor: pointer;
        float: right;
        margin-left: auto;
        padding: 40px 20px;
    }
    
    .label-line {
        background: black;
        display: block;
        height: 2px;
        position: relative;
        width: 24px;
        z-index: 10;
    }

    .label-line::before, .label-line::after{
        background: black;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .label-line::before{
        top: 5px;
    }
    .label-line::after{
        top: -5px;
    }

    .side-menu:checked ~ .label-menu .label-line {
        background: transparent;
    }

    .side-menu:checked ~ .label-menu .label-line::before {
        transform: rotate(-45deg);
        top:0;
    }
    .side-menu:checked ~ .label-menu .label-line::after {
        transform: rotate(45deg);
        top:0;
    }
}