@import 'styles/variables';

@font-face {
    font-family: regularFont;
    src: url(../font/Nunito-Regular.ttf);
}

@font-face {
    font-family: regularFont;
    src: url(../font/Nunito-Bold.ttf);
    font-weight: bold;
}

body {
    background: $background-color;
    font-family: regularFont;
    
}

html, body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}