$gray: #333436;
$light-gray: #535457;

$background-color: rgb(104,130,139);
$background-color-transparent: rgba(104,130,139, 0.5);
$background-darker: rgb(46,62,96);
$background-darker-transparent: rgba(46,62,96,0.5);
$background-gray: rgba(68,83,87,1);