.card {
    position: relative;
    width: 30rem;
    height: 15rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    align-items: center;
    color: lighten(rgb(197, 197, 197), 10%);
    transition: all 0.2s ease;

    &:hover {
        width: 35rem;
        height: 20rem;
    }
}

.dark-gradient {
    display: inline-block;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
    border-radius: 2rem;
}

h2 {
    position: absolute;
    text-align: center;
    bottom: 10%;
    left: 5%;
}

p {
    position: absolute;
    text-align: center;
    bottom: 3%;
    left: 5%;
}